# Railway configuration
# https://docs.railway.com/reference/config-as-code

[build]
builder = "nixpacks"

[deploy]
startCommand = "gunicorn wsgi:app --timeout 300"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
